body{
background: rgb(176, 144, 244);
font: normal 15pt Arial;

}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 8px;
    padding: 18px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(66, 1, 66, 0.511);
}

footer{
    color: white;
    text-align: center;
}